#edit {
  background-color: var(--warning);
}

#delete {
  background-color: var(--danger);
}

#edit:active {
  background-color: var(--warning-active);
}

#delete:active {
  background-color: var(--danger-active);
}

@media (hover: hover) {
  #edit:hover {
    background-color: var(--warning-hover);
  }

  #delete:hover {
    background-color: var(--danger-hover);
  }
}
