footer {
  background-color: var(--dark);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer button {
  all: unset;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.2rem;
  padding-bottom: 0.3rem;
  margin: 0.1rem;
  border-radius: 0.2rem;
  position: relative;
}

footer button:active {
  top: 0.1rem;
}
