.member.winner {
  font-size: 2rem;
  color: var(--success);
}

.member {
  font-size: 1.5rem;
}

.member.correct {
  color: var(--success);
}

.member.passed {
  color: var(--shadow);
}

.member.incorrect {
  color: var(--danger);
}

.member.incorrect::after {
  content: " - 7 ";
  background-color: var(--danger);
  color: black;
  border-radius: 0.3rem;
}

.member.correct::after {
  content: " + 10 ";
  background-color: var(--success);
  border-radius: 0.3rem;
  color: white;
}
