.option.correct {
  background-color: var(--success);
}

.option.responded {
  background-color: grey;
}

.option.incorrect {
  background-color: var(--danger);
}

.option.incorrect::after {
  color: black;
  content: " - 7";
  font-weight: bolder;
}
.option.celebrate::after {
  color: white;
  content: " + 10";
  font-weight: bolder;
}

.option.selected {
  background-color: var(--warning);
}

.option.selected:active,
.option.responded:active {
  top: 0rem;
}
